.header {
  margin: 0 2.5rem;
  padding: 1rem;
  .menu {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    .menu-item {
      text-decoration: none;
      margin: 0 30px;
      font-size: 1.3rem;
      cursor: pointer;
      color: white;
      align-self: center;
      &:hover {
        color: grey;
        scale: 0.98;
      }
    }
    .menu-logo {
      text-decoration: none;
      color: yellow;
      font-weight: 800;
      font-size: 2rem;
    }
  }
}
